
* {
    box-sizing: border-box;
    /* font-family: 'Raleway', 'sans serif'; */
    list-style-type: none;
    text-decoration: none;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
}

body{
    width: 1290px;
    margin: auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
} 
.logo{
    height: 46.292205810546875px;
    width: 50.48472595214844px;
}

h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 46.87px;
    text-align: center;
    color: #D04F4F;
}

.recherche{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#searchBar{
    height: 69px;
    width: 1240px;
    border-radius: 5px;
    background-color: #E7E7E7;
    border: none;
    outline: none;
    padding: 25px;

    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21.6px;
}

#searchButton{
    background: none;
    border: none;
    margin-left: -69px;
    height: 69px;
    width: 69px;

}

.fa-search {
    font-size: 32px;
}

.sectionBoutons {
    display: flex;
    margin-bottom: 25px;

}

.boutonFerme{
    height: 69px;
    width: 170px;
}

.boutonOuvert{
    width: 500px;
    height: 500px;
}

#ingredients, #appareil, #ustensiles{

    border-radius: 5px;
    border: none; 
    outline: none;
    margin-right: 20px;


    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    padding: 20px;

}

#ingredients{
    background-color: #3282F7;
}
#ingredients::placeholder{
    opacity: 1;
}

#appareil{
    background-color: #68D9A4;
}
#appareil::placeholder{
    opacity: 1;
}

#ustensiles{
    background-color: #ED6454;
}
#ustensiles::placeholder{
    opacity: 1;
}

.openButton {
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    transform: translateX(-60px);
    width: 40px;
    height: 69px;
}

















main{
    display: flex;
    flex-wrap: wrap;

}


article{
    height: 364px;
    width: 380px;
    border-radius: 5px;
    position: relative;
    padding: 0 !important;
    /* overflow: hidden; */
    margin-right: 50px;
    margin-bottom: 50px;
}

article img {
    width: 380px;
    height: 178px;
    position: absolute;
    left: 0;
}

article .txt {
    background-color: #E7E7E7;
    border-radius: 0 0 5px 5px;
    height: 186px;
    width: 380px;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.nom{
    font-family: "Lato", sans-serif ;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    max-width: 250px;
    margin-bottom: 0;
    position: absolute;
}

.temps{
    font-family: "Lato", sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    position: absolute;
    right: 20px;

}

.content{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    width: 340px;
    position: absolute;
    bottom: 20px;
}

.ingredientsListe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Lato", sans-serif;
    line-height: 14.4px;
    height: 105px;
    max-width: 160px;

    /* white-space: nowrap;
    overflow: hidden; */
    /* overflow-wrap: break-word;
    text-overflow: ""; */
}
/* .ingredientLi{ */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* overflow-wrap: break-word;
    text-overflow: ""; */
        /* ATTENTION VOIR POUR EFFECTUER ELLIPSIS APRES MOT GRACE AU JS */

/* } */

.ingredientNom{
    font-weight: 700;
}

.recette{
    position: absolute;
    right: 0px;
    width: 171px;
    font-family: "Roboto", sans-serif;
    line-height: 12px;
    height: auto;
    max-height: 109px;

    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* overflow-wrap: break-word; */
    /* text-overflow: ellipsis; */

    /* ATTENTION VOIR POUR EFFECTUER ELLIPSIS APRES POINT OU VIRGULE GRACE AU JS */
}

.rotate {
    transform: rotate(180deg);
}

